*{
  box-sizing: border-box;
}

#root {
    height: 100%;
    width: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.leaflet-container {
  position: relative;
  height: 90vh;
  width: inherit;
  margin: 0;
  overflow: hidden;
}

.leaflet-left {
    right: 0;
}
