*{
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.popup {
  height: 300px;
  width: 250px;
  background: lightblue;
}

.leaflet-container {
  position: relative;
  height: 93vh;
  width: inherit;
  margin: 0;
  overflow: hidden;
}

.list_container {
  height: 93vh;
  overflow:scroll;
  overflow-x:hidden;
  background: #959595;
}

.leaflet-left {
    right: 0;
}

