
.App {
  text-align: center;
}

.popup {
  height: 300px;
  width: 250px;
  background: lightblue;
}

.leaflet-container {
  height: 500px;
  width: 60%;
  margin: 0 auto;
  border: 3px solid green;
}
