.tags-container {
    margin-top: 1em;
}

.tag {
    font-size: 1em;
    padding: 0.5em;
    border: 2px solid #4f6b86;
    margin: 0 6px;
    border-radius: 0.4em;
    background: #748A9F;
    color: #ffffff;
}