/**{*/
  /*outline: 1px solid red;*/
/*}*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.new-event {
    border: 2px solid #f3f1f8;
    float: right;
    display: block;
    position: absolute;
    z-index: 9999;
    bottom: 180px;
    right: 0;
    border-radius: 10px;
    height: 520px;
    width: 400px;
    background: #4f6b86;
    opacity: 0.8;
    text-align: center;
}

.unvisible {
  display: none;
}

.visible {
  display: inline-block;
}

/*button {*/
  /*display: block;*/
  /*z-index: 9999;*/
  /*position: absolute;*/
/*}*/

.list_container {
  float: left;
  width: 30%;
  height: 85vh;
  background: #f3f1f8;
  overflow: scroll;
  overflow-x: hidden;
}

.top_bar {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  height: 90px;
  background: #4f6b86;
}

.event_search-input {
    height: 50px;
    background: #ffffff;
    color: #4f6b86;
    width: 20rem;
    margin: 18px auto;
    border-radius: 10px;
    text-align: center;
    font-size: 2em;
}

.login_button {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    background: #4f6b86;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    height: 30px;
    width: 140px;

}

.login_button:hover {
    font-weight: bold;
    background: #ffffff;
    color: #4f6b86;
    border: 1px solid #ffffff;
}

.logout_button {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    background: #4f6b86;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    height: 25px;
    width: 140px;
    margin-right: 100px;
    margin-bottom: 20px;
}

.logout_button:hover {
    font-weight: bold;
    background: #ffffff;
    color: #4f6b86;
    border: 1px solid #ffffff;
}

.register_button {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    background: #4f6b86;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    height: 30px;
    width: 140px;
}

.register_button:hover {
    font-weight: bold;
    background: #ffffff;
    color: #4f6b86;
    border: 1px solid #ffffff;
}

.list_container ul {
    padding: 0;
}

.single-event {
    margin: 3%;
    list-style: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    min-width: 0;
    height: 100%;
    font-size: 11px;
    align-items: center;
    flex: 1;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.single-event:hover {
    box-shadow: 1px 1px 2px #000000, 0 0 25px #5EA3FF, 0 0 5px #4661ff;
}

.event_short_view {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 3em;
    margin-right: 2.5em;
}

.event_title {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
}

.event_title p {
    font-size: 2em;
    color: #4f6b86;
}

.event_technology {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 20px;
    color: #ffffff;
    background: #4f6b86;
    border: 2px solid #4f6b86;
    border-radius: 20px;
    text-align: center;
}

.event_technology p {
    font-size: 1.3em;
}

.event_details {
    width: 100%;
    text-align: center;
    color: #4f6b86;
    margin: 20px 0px;
}

.event_date_time-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
    font-size: 1.5em;
}

.event_description {
    font-size: 1.3em;
    border-bottom: 2px solid #4f6b86;
    border-top: 2px solid #4f6b86;
    border-radius: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    background: #ffffff;
}

.event_slots-container {
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom: 2px solid #4f6b86;
    border-top: 2px solid #4f6b86;
    border-radius: 20px;
    background: #ffffff;
}

.event_register_button{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    background: #ffffff;
    color: #4f6b86;
    border-radius: 10px;
    height: 30px;
    width: 140px;
    margin-bottom: 20px;
    border: 1px solid #4f6b86;
}

.event_register_button:hover {
    font-weight: bold;
    background: #4f6b86;
    color: #ffffff;
}

.event_details-container{
    width: 100%;
    background: #f3f1f8;
    border-radius: 20px;
    margin-top: 20px;
}

.event_go_back_button{
    text-align: center;
}

.event_go_back_button_cover{
    height: 40px;
    width: 40px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQubVNX86-cgbvu25fjQcoqvV9hZb4HhxdEX0n1cW0ujMbj215AlQ");
    background-size: cover;
    border-radius: 10px;
}

.event_to_watch_button-container{

}

.event_to_watch_button {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    background: #ffffff;
    color: #4f6b86;
    border-radius: 10px;
    height: 30px;
    width: 140px;
    margin-bottom: 20px;
    border: 1px solid #4f6b86
}

.event_to_watch_button:hover {
    font-weight: bold;
    background: #4f6b86;
    color: #ffffff;
}

.technology_logo img {
    height: 5em;
    width: 5em;
}

.add_event {
    height: 60px;
    width: 60px;
    font-size: 40px;
    position: relative;
    z-index: 1100;
    text-decoration: none;
    background: #cacaca;
    border-radius: 50%;
    float: right;
    bottom: 0;
    box-shadow: 2px 2px 4px #000000;
}

.login_container {
    float: right;
    height: 90px;
    width: 30%;
}

.login_inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login_button_container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 50px;
}

.logout_button_container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 50px;
    align-items: flex-end;
}

.logout_button_container p {
    margin-right: 100px;
    color: #ffffff;
}

.form_container {
    height: inherit;
    display: flex;
    flex: 1;
    flex-direction: row;
}

.input_username, .input_password {
    height: 30px;
    background: #ffffff;
    border-radius: 10px;
    text-align: center;
    margin-left: 5px;
}

.top_bar_logo {
    height: inherit;
    float: left;
}

.logo_text {
    float: left;
    text-transform: uppercase;
    color: #fefefe;
    font-weight: 900;
    text-shadow: 1px 2px #4f6b86;
    font-size: 2em;
    margin-top: 25px;
    margin-left: 10px;
}

.logo_text_it {
    color: #5EA3FF;
    border: 2px solid #5EA3FF;
    padding: 5px 10px;
}

.bottom_bar {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    background: #4f6b86;
}

.bottom_bar-technology-logo-container{
    height: inherit;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.bottom_bar-technology-logo-item img{
    height: 30px;
    width: 30px;
}

.leaflet-control {
    float: right !important;
    top: 25px;
}

.leaflet-control a {
    background: #4f6b86 !important;
    color: #ffffff !important;
    opacity: 0.8;
}

.geo_button-container {
    float: right;
}

.geo_button {
    width: 33px;
    height: 33px;
    z-index: 9999;
    position: absolute;
    float: right;
    right: 1px;
    top: 106px;
    background-image: url("https://image.freepik.com/free-icon/geolocation-symbol_318-39926.jpg");
    background-size: cover;
    border-radius: 5px;
}

.geo_button:hover {
    box-shadow: 2px 2px 2px 2px #f4f4f4;
}

.add_event-container {
    float: right;
    margin-right: 100px;
}

.add_event_button {
    z-index: 9999;
    position: absolute;
    float: right;
    bottom: 75px;
    right: 20px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    font-size: 3em;
    font-weight: bold;
    background: #278619;
    color: white;
}

.event_user_buttons-container{
    width: 70%;
    display: block;
    position: absolute;
    text-align: center;
    top: 88px;
    z-index: 9999;
    left: 30%;
}

.event_user_button{
    width: 25%;
    height: 34px;
    margin: 0px 20px;
    border: 2px solid #4f6b86;
    background: #f3f1f8;
    color: #4f6b86;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.event_user_button:hover{
    background: #4f6b86;
    color: #ffffff;
    height: 40px;
    transition: 0.3s;
}

