body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*div {*/
  /*outline: 1px solid red;*/
/*}*/

.new-event {
  border: 2px solid black;
}


.freeSlot {
  height: 20px;
  width: 20px;
  background: grey;
  display: inline-block;
  margin: 0 5%
}

.unvisible {
  display: none;
}

.visible {
  display: inline-block;
}

button {
  display: block;
  margin: 1% auto;
}

.events-list {
  float: left;
  width: 25%;
}

.single-event{
  margin: 5%;
  list-style: none;
  background: burlywood;
  padding: 10px;
}

.toast-top-right {
  top: 0;
  left:0;
  position: absolute;
}


